* { 
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
}

label {
    font-size: 20px ;
    color: rgb(53, 36, 61);
}

.jumbotron {
    opacity: 0.9;
    color: rgb(53, 36, 61);
    background-color: rgb(148, 131, 163);
    margin-top: 30px;
}

.container {
    width: 1000px;
    height:1400px;
    background-color: rgb(99, 86, 110); 
}

#more-buttons {
    padding: 12px;
    margin: 8px 8px 8px 8px;
    font-size: 13px;
    background-color: rgb(228, 207, 20);
}

#picture {

    margin: 8px 8px 8px 8px;
    border: 2px solid rgb(52, 43, 61);
}

.btn {
    padding: 15px;
    font-size: 15px;
    background-color: rgb(228, 207, 20);
}

#buttons-view {
    width: 70%;
    margin: -66px -7px 71px 151px;
    padding: 11px;
    float: left;
}